body {

  background-image: url(images/jancok.jpeg);
}
.login {
    margin: 250px auto;
    width: 400px;
    padding: 20px;
    border: 1px solid black;
    background: rgba(128, 128, 128, 0.438);
}
input[type=text], input[type=password] {
    margin: 15px auto;
    width: 95%;
    padding: 10px;
}
input[type=submit] {
    margin: 5px auto;
    float: right;
    padding: 5px;
    width: 90px;
    border: 1px solid #fff;
    background-color: rgba(128, 128, 128, 0.384);
    color: #fff;
    cursor: pointer;
}
h2{
  text-align: center;
}
a{
  text-decoration: none;
}
